# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/

# Model artifacts
result/model/
result/model_with_terms/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

*.bin
*.pt
*.safetensors